@use 'mediaQuery' as *;
* {
   box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}


body {
  width: 100%;
  margin: 0;
  @include min(xl){
  background-color: rgba(235, 249, 255, 0.5);
  }
}

.Container{
  display: flex;
}

header{
  background-color: #f2f2f2;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include min(md){
    height: 80px;
  }
  @include min(xl){
    height: 100px;
  }
}
.logo{
  display: inline-block;
  width: 40px;
  height: auto;
  @include min(md){
    width: 60px;
    height: auto;
  }
  @include min(xl){
    width: 80px;
    height: auto;
  }
}
.header-title{
  margin-left: 2%;
  color: hsla(231, 29, 42, 100);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-shadow: 3px 3px 3px rgb(255, 255, 255);
  @include min(md){
    font-size: 23px;
  }
  @include min(xl){
    font-size: 28px;
  }
}



main{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-left: 5%;
  @include min(xl){
    width: 60%;
  }
}
.title {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 19px;
  font-weight: 800;
  @include min(md){
    font-size: 29px;
    }
}


.img-head-A{
  display: inline-block;
  box-shadow: 0px 0px 1px 1px gray;
  width: 90%;
  height: auto;
}
.head{
  margin-left: 5%;
  margin-top: 5%;
  background-color: white;
  width: 90%;
  height: auto;
  text-align: center;
  @include min(xl){
    padding-top: 3%;
    padding-bottom: 6%;
  }
}
.head-section{
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 1.2;
   & p{
    margin-top: 2%;
    margin-bottom: 2%;
  font-weight: 500;
  font-size: 14px;
  @include min(md){
    font-size: 16px;
  }
    @include min(xl){
  font-size: 18px;
    }
   }
}

.head-border{
  margin-left: auto;
  margin-right: auto;
  border-bottom: 0.5px solid gray;
  margin-top:5%;
  width: 90%;
}












.index-head{
  width: 90%;
  margin-top: 40px;
  top: 100px; 
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  border: 1.4px solid #54b6fc;
  border-radius: 1.5px;
  background-color: rgb(252, 254, 255);
  @include min(md){
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  @include min(xl){
    width: 55%;
  }
}


.mokuzi-head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px 0;
  background-color: #54b6fc;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  @include min(md){
    font-size: 20px;
    }
  @include min(xl){
  font-size: 22px;
  }
}


.index-head ol {
  list-style-type: decimal;
  margin: 0;
  overflow: hidden;
}

.index-head > ol {
  padding: 1em 1em 1em 3em;
}

.index-head ol ol {
  margin-top: 5px;
  padding-left: 1.1em;
  @include min(xl){
  padding-left: 2.5em;
  }
}

.index-head li {
  padding: 5px 0;
  font-weight: 600;
  font-size: 17px;
  @include min(md){
    font-size: 18px;
    }
  @include min(xl){
  font-size: 20px;
  }
}

.index-head ol ol li {
  font-weight: 500;
  font-size: 15px;
  text-indent: 0;
  @include min(md){
    font-size: 17px;
    }
  @include min(xl){
  font-size: 18px;
  font-weight: 500;
  }
}


.index-head a {
  color: #333;
  text-decoration: none;
}

.index-head li:hover {
  color: #54b6fc;
}

.index-head li:hover a {
  color: inherit; 
}



aside{
  display: none;
  @include min(xl){
    width: 30%;
    height: auto;
    display: block;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

.self-introduction{
  margin-top: 200px;
  border-radius: 4px;
  box-shadow: 0px 0px 1px 1px gray;
  background-color: rgb(255, 255, 255);
    width: 80%;
    margin-left: 10%;
    height: auto;
    padding: 3%;
}
.self-introduction-writer{
  border-left: 5px solid rgb(72, 145, 255);
  padding-left: 12px;
  font-size: 24px;
  font-weight: 600;
  color: black;
}
.self-introduction-container{
  margin-top: 4%;
  border: 0.8px solid black;
  border-radius: 4px;
  padding: 5px 10px;
}
.self-introduction-title{
  text-align: center;
  margin-top: 4%;
  margin-bottom: 2%;
  font-size: 22px;
  font-weight: 500;
  color: black;
}
.self-introduction-image-container{
  text-align: center;
}


.self-introduction-section{
  font-size: 17px;
  font-weight: 500;
  color: black;
  word-wrap: break-word;
  white-space: normal;
}








.index {
  margin-top: 770px;
  /* flex: 1; */
  position: sticky;
  top: 100px;
  margin-left: 10%;
  width: 80%;
  border-radius: 1.5px;
  border: 0.8px solid #54b6fc;
  background-color: rgba(255, 255, 255, 1);
}



.mokuzi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px 0;
  background-color: #54b6fc;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.mokuzi::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 5px;
  content: '';
}

.index ol {
  padding-left: 10%;
  list-style-type: decimal;
  margin: 0;
  overflow: hidden;
}

.index > ol {
  padding: 1em 1em 1em 2.4em;
}

.index ol ol {
  margin-top: 5px;
  padding-left: 0.9em;
}

.index li {
  padding: 5px 0;
  font-weight: 600;
  font-size: 17px;
}

.index ol ol li {
  font-weight: 500;
  font-size: 14px;
}


.index a {
  color: #333;
  text-decoration: none;
}

.index li:hover {
  color: #54b6fc;
}

.index li:hover a {
  color: inherit; 
}


strong{
  font-weight: 600;
  font-size: 22px;
  @include min(md){
    font-size: 26px;
  }
  @include min(xl){
  font-size: 32px;
  }
}
h2{
  font-size: 35px;
}
p{
  font-size: 25px;
  font-weight: 500;
}

.content{
  background-color: rgb(255, 255, 255);
  // border: 0.5px solid gray;
  border-radius: 3px;
  margin-top: 5%;
  padding-top: 0.5%;
}

#Title1, #Title2, #Title3, #Title4{
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 81.5%;
  position: relative;
  overflow: hidden;
  padding: 0.8rem 1.3rem 0.8rem 120px;
  font-weight: 700;
  border: 2px solid #0273b5;
  font-size: 22px;
  @include min(md){
    font-size: 25px;
  }
  @include min(xl){
  font-size: 28px;
  padding: 1.2rem 2rem 1.2rem 130px;
  }
   &:before{
    display: inline-block;
      position: absolute;
      top: -150%;
      left: -120px;
      width: 200px;
      height: 300%;
      content: '';
      -webkit-transform: rotate(25deg);
      transform: rotate(25deg);
      background: #0273b5;
      @include min(xl){
        left: -100px;
      width: 200px;
      height: 300%;
      }
   }
   & span{
      font-size: 2.8rem;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      align-items: center;
      padding-left: 16px;
      color: #fff;
      @include min(xl){
        transform: translateY(-17%);
        font-size: 2.8em;
      }
   }
}




#title11,#title12,#title20,#title21,#title22,#title23,#title31,#title32{
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
    font-weight: 700;
    border-bottom: solid 5px #cce4ff;
    position: relative;
    font-size: 13px;
    margin-bottom: 4%;
    @include min(md){
      font-size: 22px;
      margin-bottom: 3%;
    }
    @include min(xl){
      font-size: 25px;
      margin-bottom: 2%;
    }
     &:after{
     position: absolute;
     content: " ";
     display: block;
     border-bottom: solid 5px #5472cd;
     bottom: -5px;
     width: 20%;
}
}






.wrapper{
  margin-left: 5%;
  width: 90%;
  padding-bottom: 30px;
  position: relative;
  padding-top: 25px;
  background-color: white;
}



.title3{
  margin-left: 5%;
  font-weight: 570;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 12px;
  padding-left: 7px;
  padding-bottom: 2px;
  border-left: 5px solid #4c9ac0;
  @include min(sm){
    font-size: 14px;
  }
  @include min(md){
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @include min(xl){
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 22px;
    padding-left: 10px;
    padding-bottom: 3px;
    border-left: 10px solid #4c9ac0;
  }
}

.img{
  box-shadow: 0px 0px 1px 1px gray;
  width: 90%;
  height: auto;
  display: inline-block;
  margin-left: 5%;
}

.section{
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
    & p{
      font-size: 14px;
      font-weight: 500;
      @include min(md){
        font-size: 16px;
        }
      @include min(xl){
      font-size: 17px;
      }
  }
}



.GOAL-container{
margin-bottom: 6%;
  margin-left: 5%;
  background: #d4edff;
  width: 90%;
  padding-bottom: 20px;
  @include min(xl){
    margin-top: 40px;
    margin-bottom: 40px;
  }
   & p{
    margin-top: 3%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    @include min(md){
      font-size: 20px;
    }
    @include min(xl){
      margin-bottom: 40px;
      font-size: 24px;
      color: rgb(31, 31, 31);
    }

   }
}
.GOAL-title{
  width: 100%;
  font-weight: bold;
  background: #71c1ff;
  padding: 4px;
  text-align: center;
  color: #ffffff;
  font-size: 21px;
  @include min(md){
    font-size: 24px;
    }
  @include min(xl){
  font-size: 28px;
  }
 }

.arrow-container{
  display: flex;
  justify-content: space-around;
}
.arrow-bottom1{ 
  display: none;
  @include min(xl){
  margin-top: 11px;
  width: 50px;
  height: 10px;
  background-color: black;
  position: relative;
  display: block;
  transform: rotate(90deg);
    &::after{
      content: "";
      position: absolute;
      background-color: black;
      width: 27px;
      height: 27px;
      right: -20px;
      top: 0;
      bottom: 0;
      margin: auto;
      clip-path: polygon(0 0, 100% 50%, 0% 100%);
    }
  }
}
.arrow-bottom2{ 
  display: none;
  @include min(xl){
    display: block;
  margin-top: 11px;
  width: 50px;
  height: 10px;
  background-color: black;
  position: relative;
  transform: rotate(90deg);
    &::after{
      content: "";
      position: absolute;
      background-color: black;
      width: 27px;
      height: 27px;
      right: -20px;
      top: 0;
      bottom: 0;
      margin: auto;
      clip-path: polygon(0 0, 100% 50%, 0% 100%);
    }
  }
}
.img-text-element{
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  @include min(xl){
  margin-top: 60px;
  }
}
.img-text{
  display: inline-block;
  box-shadow: 0px 0px 1px 1px gray;
  border-radius: 4px;
  transition: transform 0.5s;
    &:hover{
      transform: scale(1.04);
    }
    width: 40%;
    height: auto;
    @include min(md){

    }
    @include min(xl){
      
    }
}

.fill-stroak-container{
  @include min(xl){
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
    width: 90%;
  }

  .fill-stroak-content{
    display: none;
    @include min(xl){
      display: flex;
      display: block;
    }
  }
}

.img-fill-stroak{
  margin-left: 5%;
  width: 90%;
  height: auto;
  @include min(xl){
    width: 45%;
    height: auto;
  }
}




.fill-stroak-text{
  margin-left: 5%;
  @include min(md){
    font-size: 16px;
  }
  @include min(xl){
    font-size: 18px;
    transform: translateY(-4%);
    font-weight: 500;
    word-wrap: break-word;
    white-space: normal;
  }
    & span{
      display: inline-block;
      margin-top: 10px;
    }
}
.fill-stroak-text span:nth-of-type(1) {
  @include min(md){
    font-size: 20px;
  }
  @include min(xl){
    font-size: 24px;
  }
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(transparent 72%, rgb(70, 216, 95) 0%);
}
.fill-stroak-text span:nth-of-type(2) {
  @include min(md){
    font-size: 20px;
  }
  @include min(xl){
    font-size: 24px;
  }
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(transparent 72%, rgb(128, 170, 255) 0%);
}

.container-color{
  width: 90%;
  text-align: center;
  margin-left: 5%;
  @include min(xl){
  display: flex;
  }
}

.section-color{
  @include min(xl){
    margin-left: 5%;
  }
  & p{
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    @include min(md){
      font-size: 16px;
      }
    @include min(xl){
    font-size: 18px;
    }
       &:before{
        content: "→";
        font-size: 30px;
        font-weight: 600;
       }
    }
}

.img-color{
  display: none;
  box-shadow: 0px 0px 1px 1px gray;
  @include min(xl){
    display: block;
  }
}

.strong-color{
  padding-top: 10px;
  font-weight: 700;
    font-size: 18px;
    @include min(md){
      font-size: 20px;
      }
    @include min(xl){
      font-size: 22px;
      font-weight: 600;
    }
}

.border-marker{
  background: linear-gradient(transparent 72%, rgb(183, 235, 255) 28%);
  font-weight: 700;
  font-size: 15px;
  @include min(md){
    font-size: 16px;
    }
  @include min(xl){
  font-size: 17px;
  }
}


.title2-1{
  margin-top: 40px;
}

.image2-title1-section{
  margin-left: 5%;
  width: 90%;
  & p{
    font-size: 14px;
  font-weight: 500;
  @include min(md){
    font-size: 16px;
    }
  @include min(xl){
  font-size: 18px;
  }
}
}
.image2-title1{
  display: inline-block;
  margin-left: 5%;
  width: 90%;
  height: auto;
}
#image2-title1-container{
  display: none;
  @include min(xl){
    display: block;
    position: relative;
    margin-top: 130px;
    margin-bottom: 70px;
  }

}

.inkscape-text-box-fukidashi-container{
  position: absolute;
  top: 100%;
  left: -2%;
}
.inkscape-fontstyle-fukidashi-container{
  position: absolute;
  top: 26%;
  left: 12%;
}
.inkscape-fontfamily-fukidashi-container{
  position: absolute;
  top: -20%;
  left: 37.5%;
}
.inkscape-fontsize-fukidashi-container{
  position: absolute;
  top: 26%;
  right: -3%;
}


.inkscape-text-box-fukidashi{
  font-size: 18px;
  font-weight: 500;
  max-width: 310px;
  border-radius: 10px;
    margin-left: 30px;
    transform: translateY(-100%);
    position: relative;
    padding: 20px;
    background-color: rgb(87, 165, 171);
    display: inline-block;  
    opacity: 0.3;  
    transition: all 1s ease;
    word-wrap: break-word;
    white-space: normal;
    &:before{
        content: '';
        position: absolute;
        left: 20px;
        top: -14px;
        display: block;
        width: 0;
        height: 0;
        border-right: 15px solid transparent;
        border-bottom: 15px solid rgb(87, 165, 171);
        border-left: 15px solid transparent;
    } 
    &:hover{
      opacity: 1;
    }
    & span{
      font-size: 26px;
      font-weight: 600;
      background: linear-gradient(transparent 72%, rgb(128, 170, 255) 0%)
    }
  }
.inkscape-fontstyle-fukidashi{
      font-size: 18px;
      font-weight: 500;
      max-width: 310px;
      border-radius: 10px;
        position: relative;
        padding: 20px;
        background-color: rgb(94, 183, 149);
        display: inline-block;  
        opacity: 0.3;  
        transition: all 1s ease;
        word-wrap: break-word;
        white-space: normal;
        &:before{
            content: '';
            position: absolute;
            right: 100px;
            top: -14px;
            display: block;
            width: 0;
            height: 0;
            border-right: 15px solid transparent;
            border-bottom: 15px solid rgb(94, 183, 149);
            border-left: 15px solid transparent;
        } 
        &:hover{
          opacity: 1;
        }
        & span{
          font-size: 26px;
          font-weight: 600;
          background: linear-gradient(transparent 72%, rgb(107, 172, 123) 0%)
        }
 }
.inkscape-fontfamily-fukidashi{
        font-size: 18px;
        font-weight: 500;
        max-width: 310px;
        border-radius: 10px;
          position: relative;
          padding: 20px;
          background-color: rgb(87, 165, 171);
          display: inline-block;  
          opacity: 0.3;  
          transition: all 1s ease;
          word-wrap: break-word;
          white-space: normal;
          &:before{
              content: '';
              position: absolute;
              left: 100px;
              bottom: -10px;
              display: block;
              width: 0;
              height: 0;
              border-right: 15px solid transparent;
              border-top: 15px solid rgb(87, 165, 171);
              border-left: 15px solid transparent;
          } 
          &:hover{
            opacity: 1;
          }
          & span{
            font-size: 26px;
            font-weight: 600;
            background: linear-gradient(transparent 72%, rgb(128, 170, 255) 0%)
          }
}
.inkscape-fontsize-fukidashi{
          font-size: 18px;
          font-weight: 500;
          max-width: 310px;
          border-radius: 10px;
            position: relative;
            padding: 20px;
            background-color: rgb(94, 183, 149);
            display: inline-block;  
            opacity: 0.3;  
            transition: all 1s ease;
            word-wrap: break-word;
            white-space: normal;
            &:before{
                content: '';
                position: absolute;
                left: 20px;
                top: -14px;
                display: block;
                width: 0;
                height: 0;
                border-right: 15px solid transparent;
                border-bottom: 15px solid rgb(94, 183, 149);
                border-left: 15px solid transparent;
            } 
            &:hover{
              opacity: 1;
            }
            & span{
              font-size: 26px;
              font-weight: 600;
              background: linear-gradient(transparent 72%, rgb(107, 172, 123) 0%)
            }
}







.image-container{
  position: relative;
}

.arrow {
  display: none;
  @include min(xl){
    position: absolute;
    top: 30%;
    left: 32%;
    width: 400px;
    height: 12px;
    background-color: red;
    transform: rotate(20deg);
  }
  }


.arrow::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border: solid red;
  border-width: 10px 10px 0 0;
  transform: rotate(45deg);
  top: -12px;
  right: -5px;
}








.decoration-container{
  position: relative;
    & .decoration-section{
      display: none;
      @include min(xl){
        display: block;
      border-radius: 1px;
      opacity: 0.9;
      padding: 6px;
      position: absolute;
      top: 1%;
      left: 9%;
      width: 250px;
      height: auto;
      background-color: rgb(213, 245, 254);
      color: black;
      font-size: 18px;
      font-weight: 500;
      // word-wrap: break-word;
      // white-space: normal;
      // word-break: keep-all;
       & p{
        font-size: 20px;
        font-weight: 500;
        color: black;
        line-height: 1.5;
        margin-top: 2px;
        margin-bottom: 2px;
       }
      }
    }
    }

.shadow-container{
  position: relative;
    & .shadow-section{
      display: none;
      @include min(xl){
  display: block;
      border-radius: 1px;
      opacity: 0.9;
      padding: 6px;
      position: absolute;
      right: 9%;
      bottom: 1%;
      width: 250px;
      height: auto;
      background-color: rgb(213, 245, 254);
      color: black;
      font-size: 18px;
      font-weight: 500;
    }}
      & .shadow-section2{
        display: none;
        @include min(xl){
        display: block;
        border-radius: 1px;
        opacity: 0.9;
        padding: 6px;
        position: absolute;
        right: 09%;
        bottom: 1%;
        width: 220px;
        height: auto;
        background-color: rgb(213, 245, 254);
        color: black;
        font-size: 18px;
        font-weight: 500;
        }}
       & p{
        font-size: 20px;
        font-weight: 500;
        color: black;
        line-height: 1.5;
        margin-top: 2px;
        margin-bottom: 2px;
       }
    }


    .img-GOAL1{
      display: inline-block;
      box-shadow: 0px 0px 1px 1px gray;
      width: 90%;
      height: auto;
      margin-left: 5%;
      margin-bottom: 4%;
      transition: transform 0.5s;
      &:hover{
        transform: scale(1.02);
      }
    }
    .img-GOAL2{
      display: inline-block;
      box-shadow: 0px 0px 1px 1px gray;
      width: 90%;
      height: auto;
      margin-left: 5%;
      margin-bottom: 2%px;
      transition: transform 0.5s;
      &:hover{
        transform: scale(1.02);
      }
    }

    .triming-container{
      position: relative;
    }
    .triming-section{
      position: absolute;
      top: 10.7%;
      left: 8.6%;
      background-color: transparent;
      width: 60px;
      height: 20px;
      outline: 5px solid red;
    }

    .shift, .CtrlCommand{
      background-color: rgb(187, 187, 187, 0.4) ;
      padding: 2px;
      border-radius: 3px;
    }
    .container3{
      display: flex;
    }
    .img1,.img2{
      display: inline-block;
      margin-left: 5%;
      width: 42.5%;
      height: auto;
    }
    



    footer{
      height: 80px;
      width: 100%;
      background-color: #f7fbff;
      display: flex;
      justify-content: center;
      align-items: center;
      @include min(md){
         height: 90px;
      }
      @include min(xl){
         height: 100px;
      }   
    }
   
    .social a{
         width: 30px;
         height: 30px;
         border-radius: 50%;
         background-color: rgb(63, 255, 245);
         font-size: 20px;
         @include min(md){
            width: 35px;
            height: 35px;
         }
         @include min(xl){
            width: 45px;
            height: 45px;
         }
         display: flex;
         align-items: center;
         justify-content: center;
         text-decoration: none;
         transition: all 0.5s ease;
         &:hover{
             transform: scale(1.1); 
         }
      }
   
   
